.steps {
  @apply flex justify-between items-center;

  &.steps-vertical {
    @apply flex-col items-start;
  }
}

.step-item {
  @apply flex items-center;

  &.step-item-vertical {
    @apply items-start flex-col;
  }
}

.step-item-wrapper {
  @apply flex items-center;
}

.step-item-icon {
  min-width: 1.5rem;
  @apply text-lg rounded-full w-6 h-6 flex items-center justify-center font-semibold;

  &.step-item-icon-pending {
    @apply border-2 border-[#9B80B0] dark:border-gray-600;
  }

  &.step-item-icon-current {
    @apply border-2;
  }
}

.step-item-content {
  @apply ltr:ml-3 rtl:mr-3 relative;
}

.step-item-title {
  @apply whitespace-nowrap font-bold block text-[#9B80B0] dark:text-gray-300;

  &.step-item-title-error {
    @apply text-red-500;
  }
}

.step-item-icon-error {
  @apply border-2 border-red-500 text-red-500;
}

.step-clickable {
  @apply cursor-pointer;
}

.step-connect {
  height: 2px;
  @apply w-full;

  &.inactive {
    @apply bg-[#9B80B0] dark:bg-gray-600;
  }

  &.step-connect-vertical {
    min-height: 1.6rem;
    width: 2px;
    @apply ltr:ml-[0.7rem] ltr:my-2 rtl:mr-4 ;
  }
}
